<% if @response.errors.any? %>
  <% @response.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>

<p>Hi, <%= @invitation.family.salutation.to_s %>! Thank you for choosing to RSVP to our special day.</p>
<p>Will you attend?</p>

<ul>
  <li><a href="#" data-container="#yes-container" class="tab <%= 'active' if @response.is_yes? || @response.errors.any? %>">Yes</a></li>
  <li><a href="#" data-container="#no-container" class="tab <%= 'active' if @response.is_no? %>">No</a></li>
</ul>

<div id="yes-container" class="container">
  <%= form_for @invitation, :url => response_index_path, :method => :post do |f| %>
    <%= fields_for @response do |r| %>
      <% if @invitation.total_invited > 1 %>
        <%= label_tag :total_attending %>
        <ul>
          <% @invitation.total_invite_options.each do |invite_option| %>
            <li>
              <label>
                <%= r.radio_button :total_attending, invite_option %>
                <%= pluralize(invite_option, "person") %>
              </label>
            </li>
          <% end %>
        </li>
      <% else %>
        <%= r.hidden_field :total_attending, value: @invitation.total_invited %>
      <% end %>
      <%= r.label :email %>
      <%= r.text_field :email %>
      <%= r.label :comment %>
      <%= r.text_area :comment %>
    <% end %>
    <%= f.button "Cancel", :type => :button %>
    <%= f.submit "Submit RSVP" %>
  <% end %>
</div>

<div id="no-container" class="container">
  <%= form_for @invitation, :url => response_index_path, :method => :post do |f| %>
    <%= fields_for @response do |r| %>
      <%= r.hidden_field :total_attending, value: 0 %>
    <% end %>
    <p>No, I will not be attending.</p>
    <%= f.button "Cancel", :type => :button %>
    <%= f.submit "Submit RSVP" %>
  <% end %>
</div>

<%= javascript_include_tag "rsvp/response_tabs.js" %>